 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
      <title>Search Bar</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

    {% block css %}
    {% endblock css %}
</head>
<body>
    <nav>
        <span>Search Bar</span>
        <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <input type="search" name="search" placeholder="Search item here">
        <button type="submit">Search</button>
        </form>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add_card' %}">Add Card</a></li>
            <li><a href="{% url 'show_item' %}">Show items</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}

</body>
</html>